.home {
    background-color: black;
    color: green;
}
header {
    background-color: blue;
    color: white;
    height: 100px;
}

footer {
    background-color: blueviolet;
    color: white;
    height: 100px;
}

.content {
    background-color: aquamarine;
    color: white;
    height: 600px;
}

.navi {
    background-color: green;
    color: white;
    height: 600px;
}